h1 {
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.imagehtml {
    text-align: center;

}



span.retard {font-weight: 900;
font-style: italic;}

span.exemple {color: red;
font-weight: 900;}

.hover-image{
    display: none;
    width: 100px;
    height: 100px;
    position: absolute;

}

.hover-title{
    display: inline;
    pointer-events: auto;
    cursor: pointer;
    font-size: 30px;
}

.hover-title:hover +.hover-image {
    display: block;
    
}

bod {background-image: url(https://images.pexels.com/photos/3770703/pexels-photo-3770703.jpeg?cs=srgb&dl=pexels-alexander-grey-3770703.jpg&fm=jpg);}