@font-face {
    font-family: AutourOne;
    src: url(../assets/AutourOne-Regular.ttf);
}

@font-face {
    font-family: Lobster;
    src: url(../assets/Lobster-Regular.ttf);
}

/*l etoile sert a donner une valeur a tout les elements*/

h1 {
    text-align: center;
    color: rgb(151, 8, 8);
    font-size: 4.5rem;
    letter-spacing: 5px;
    text-shadow: 5px 5px 8px black;
    font-family: Lobster;


}

h2 {
    display: flex;
    justify-content: space-evenly;
    color: #ffe4c4;
}

body {
    background: url(../../css/images/pexels-rehan-verma-2275222.jpg) center/cover;
    min-height: 100vh;
    font-family: AutourOne;
}

main {
    min-width: 400px;
    width: 90%;
    background-color: #0000003b;
    margin: 0 auto;
    border: 2px solid #000000a9;
    border-radius: 25px;
    box-shadow: 6px 4px 12px 3px black;
    padding: 5px;

}

.flexbox {
    border: 2px solid #0000003b;
    border-radius: 25px;
    box-shadow: 1px -1px 8px 0 #ffe4c4;

}

.flexbox ol {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 100px;
    width: 250%;
    margin: 10px;
    background-color: #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0000003b;
    border-radius: 15px;
    box-shadow: 1px -1px 3px 0 black;
    color: bisque;
}